body {
	margin: 0;
	padding: 0;
	color: #1f1a17;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	overflow-x: hidden
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,
dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,
header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,
ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,
tr,tt,u,ul,var,video {
	border: 0;
	font-size: 100%
}
body ul {
	list-style: none;
	margin: 0
}
blockquote,
q {
	quotes: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
* {
	margin: 0;
	padding: 0
}
img {
	max-width: 100%;
	border: none;
	height: auto
}
a {
	outline: 0;
	text-decoration: none
}
a:focus,
a:hover {
	text-decoration: none;
	outline: 0
}
a img {
	border: 0;
	text-decoration: none
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f9fbfc;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(1,159,182,.2);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgba(1,159,182,.5);
  }

.main-chat-page {
    background: #9dd9e0 url(../images/back-top.png) no-repeat top right / 400px;
    padding: 20px 0;
    min-height: 100vh;
}
.main-chat-page-inn {
    box-shadow: 0 4px 24px 0 rgba(5,27,44,.1);
    background: #fff;
    border-radius: 0;
    overflow: hidden;
    height: calc(100vh - 40px);
    min-height: 500px;
}
.main-chat-page-inn .chat-header {
    padding: 10px 15px;
    border-radius: 0;
    position: relative;
    z-index: 3;
    height: 70px;
    border-bottom: 1px solid rgba(1,159,182,.3);
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.1);
}
.chat-header .chat_people {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.chat-header .chat_people div#profile_image {
    width: 60px;
    position: relative;
}
.chat-header .chat_people div#profile_image img {
    height: 50px !important;
    width: 50px !important;
    display: inline-block;
    background: #e5e4e8;
    border-radius: 50%;
    border: 1px solid #e5e4e8;
    object-fit: cover;
}
.chat_people .chat_ib {
    padding-left: 10px;
    width: calc(100% - 60px);
}
.chat-header .chat_people div#user_name h5 {
    font-weight: 700;
    /* color: #1f1a17; */
    color: #377c88;
    font-size: 20px;
    margin: 0;
}
.main-chat-page-inn .dropdown button.btn.btn-primary {
    background: none;
    border: none;
    box-shadow: none !important;
    outline: none;
    color: #9aa7af;
    font-size: 20px;
    padding: 10px 0;
}
.main-chat-page-inn .dropdown-menu {
    /* left: auto !important;
    right: 100%; 
    transform: translate(0px, 10px) !important;*/
    box-shadow: 0 4px 24px 0 rgba(5,27,44,.2);
    border: none;
    /* min-height: 130px; */
}
.right_chat_page .mesgs span#is_typing {
    position: absolute;
    bottom: 54px;
    left: 0;
    font-size: 11px;
    color: #9aa7af;
    background: #fff;
    width: 100%;
    padding: 2px 15px;
    cursor: default;
}
.chat-page-main .chat_dtls span[id*="is_typing"] {
    background: url(../images/lightss.gif) no-repeat center center / cover;
    height: 10px;
    right: 0;
    display: block;
    position: absolute;
    bottom: -6px;
    z-index: 3;
    font-size: 0;
    width: 25px;
}
#profile_div .dropdown-menu {
    left: auto !important;
    right: 0;
    transform: translate(-10px, 10px) !important;
}
.main-chat-page-inn .dropdown-menu span {
    display: block;
}
.left_chat_page .chat_people .chat_ib .chat_dtls p {
    height: 25px;
    align-items: center;
    display: flex;
}
.main-chat-page-inn .dropdown-menu button.btn,
.main-chat-page-inn .dropdown-menu a {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #9aa7af;
    transition: all .2s ease-in;
    font-size: 15px;
    text-decoration: none;
    border-radius: 0;
}
.main-chat-page-inn .dropdown-menu a i {
    font-size: 12px;
    padding-right: 5px;
}
.main-chat-page-inn .dropdown-menu button.btn:hover,
.main-chat-page-inn .dropdown-menu a:hover {
    background: rgba(1,159,182,.2);
    color: #1f1a17;
}
.headind_srch {
    background: #f9fbfc;
    box-shadow: -3px 1px 3px rgba(5,27,44,.2);
    padding: 10px 0;
    z-index: 1;
    position: relative;
    height: 67px;
}
.recent_heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.user-list-page-main .recent_heading {
    padding: 0 10px;
}
.user-list-page-main .srch_bar {
    padding: 0 10px;
}
.recent_heading h3 {
    padding: 0;
    width: 33.3333%;
    text-align: center;
    margin: 0;
    color: #9aa7af;
    font-weight: 700;
}
.recent_heading h3 a {
    color: #9aa7af;
    font-weight: 700;
}
.recent_heading h3 i, .join-btn button.btn.add-to-group i {
    background: #e7eff7;
    border: none;
    height: 35px;
    font-size: 15px;
    transition: all .2s ease-in;
    width: 35px;
    color: #9aa7af;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
    outline: none;
    align-items: center;
    justify-content: center;
}
.recent_heading h3 small, .join-btn button.btn.add-to-group small {
    font-size: 10px;
    display: block;
    color: #9aa7af;
}
.recent_heading h3 button, .join-btn button.btn.add-to-group {
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    padding: 0;
}
.stylish-input-group {
    display: flex;
    flex-wrap: wrap;
    border-radius: 80px;
    box-shadow: 0 4px 24px 0 rgba(5,27,44,.1);
    width: 100%;
    text-align: left;
}
.stylish-input-group input.search-bar {
    padding: 5px 15px;
    border-radius: 80px 0 0 80px;
    border: none;
    font-size: 14px;
    background: #fff;
    font-weight: 500;
    outline: none;
    width: calc(100% - 50px);
}
.stylish-input-group button.connected-user-search {
    display: none !important;
}
.stylish-input-group span.input-group-addon {
    width: 50px;
}
.stylish-input-group span.input-group-addon button {
    width: 100%;
    border: none;
    padding: 9px;
    border-radius: 0 80px 80px 0;
    background: #fff;
    color: #9aa7af;
    border-left: 1px solid rgba(5,27,44,.1);
    cursor: pointer;
    outline: none;
}
.headind_srch .row {
    align-items: center;
}
.main-chat-page-inn .messaging {
    height: calc(100% - 70px);
}
.main-chat-page-inn .messaging .inbox_msg,
.main-chat-page-inn .messaging .inbox_people,
.main-chat-page-inn .messaging .chat-page-main-mesgs,
.main-chat-page-inn .messaging .chat-page-main-mesgs .row,
.main-chat-page-inn .messaging .chat-page-main-mesgs .row div[class*="col-"], 
.main-chat-page-inn .messaging .chat-page-main-mesgs .row div[class*="col-"] .left_chat_page,
.main-chat-page-inn .messaging .chat-page-main-mesgs .row div[class*="col-"] .right_chat_page {
    height: 100%;
}
.main-chat-page-inn .inbox_chat {
    height: calc(100% - 67px);
    overflow: auto;
}
.main-chat-page-inn .left_chat_page .inbox_chat {
    height: calc(100% - 115px);
}
.inbox_chat .chat_list {
    padding: 5px 10px;
    position: relative;
    transition: all .2s ease-in;
}
.inbox_chat .chat_list:hover,
.inbox_chat .chat_list.active_chat {
    background: linear-gradient(45deg, rgba(1,159,182,.2), transparent);
}
.inbox_chat .chat_list.active_chat::before {
    content: "";
    border-left: 2px solid rgba(1,159,182,.5);
    position: absolute;
    left: 0;
    display: inline-block;
    height: 100%;
    top: 0;
}
.inbox_people .chat_list a {
    display: block;
}
.inbox_people .chat_people {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.chat-page-main-mesgs .chat_people .chat_img {
    padding: 5px;
    width: 60px;
    position: relative;
}
.chat-page-main-mesgs .chat_people .chat_img span.user-online {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 11px;
    color: #25d366;
}
.chat-page-main-mesgs .chat_people .chat_img span.user-online i {
    border: 2px solid #fff;
    border-radius: 50%;
    background: #25d366;
}
.chat_people .chat_img img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    display: inline-block;
    background: #e5e4e8;
    border-radius: 50%;
    border: 1px solid rgba(1,159,182,.3);
}
.chat-page-main .chat_dtls {
    position: relative;
    padding-right: 18px;
}
.chat_people .chat_ib .chat_dtls h5 {
    margin: 0;
    color: #333;
    font-weight: 600;
    font-size: 14px;
}
.chat_people .chat_ib .chat_dtls p {
    color: #1f1a17;
    margin: 0;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chat_people .chat_ib .chat_dtls span.chat_date {
    display: block;
    font-weight: normal;
    font-size: 10px;
    color: #9aa7af;
    float: right;
}
.chat-page-main .chat_people .chat_ib .chat_dtls span.chat_date {
    float: none;
}
.chat_people .chat_ib .chat_comment {
    display: none;
}
.inbox_chat .chat_list:not(:last-child)::after {
    content: "";
    border-bottom: 1px solid #e7eff7;
    position: absolute;
    bottom: 0;
    left: 75px;
    width: calc(100% - 80px);
}
.right-top-header {
    display: none;
}
.left_heading {
    background: #f9fbfc;
    box-shadow: -3px 1px 3px rgba(5,27,44,.2);
    padding: 10px;
    z-index: 1;
    position: relative;
    height: 115px;
}
.left_heading .stylish-input-group span.input-group-addon button {
    padding: 6px;
}
.left_heading .srch_bar {
    margin: 10px 0 0;
}
.chat-page-main-mesgs .row {
    margin: 0;
}
.chat-page-main-mesgs .row div[class*="col-sm-"] {
    padding: 0;
}
.front-user-info {
    background: #f9fbfc;
    box-shadow: 3px 1px 3px rgba(5,27,44,.2);
    padding: 10px;
    z-index: 1;
    position: relative;
    height: 67px;
}
.chat-header .chat_people a.edit-profile {
    display: none;
}
.chat-page-main-mesgs .front-user-info .chat_people .chat_img {
    padding: 1px;
}
.right_chat_page .mesgs {
    height: calc(100% - 67px);
    position: relative;
}
.left_chat_page {
    border-right: 1px solid #e7eff7;
}
.mesgs .msg_history {
    overflow: auto;
    padding: 30px 10px;
    height: calc(100% - 55px);
}
/*.right_chat_page .mesgs span#load_more_loader {*/
/*    position: absolute;*/
/*}*/
.right_chat_page .mesgs span#current_date_message {
    display: block !important;
    background: rgba(1,159,182,.2);
    color: #333;
    font-size: 11px;
    border-radius: 50px;
    padding: 5px 10px;
    /* box-shadow: 0 1px 2px 0 rgba(0,0,0,.2); */
    position: absolute;
    top: 3px;
    transform: translate(-50%, 0);
    left: 50%;
    cursor: default;
}
.msg_history div.outgoing_msg {
    text-align: right;
    margin: 5px 0;
}
.msg_history div.outgoing_msg .sent_msg {
    background: #dbf4fd;
    border-radius: 10px 0 10px 10px;
    padding: 5px 8px;
    padding-right: 20px;
    position: relative;
    max-width: 70%;
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}
.main-chat-page-inn div.outgoing_msg .sent_msg .dropdown button.btn {
    font-size: 15px;
    padding: 0;
}
div.outgoing_msg .sent_msg .dropdown {
    position: absolute;
    right: 5px;
    top: 0;
}
.received_withd_msg p, .sent_msg p {
    margin: 0;
    font-size: 14px;
    line-height: normal;
}
.outgoing_msg .sent_msg p {
    text-align: left;
    display: inline-block;
}
span.time_date {
    color: #9aa7af;
    font-size: 11px;
    display: block;
    margin: 10px 0 0;
}
i.fas.fa-check-double {
    color: #25d366;
    margin-left: 5px;
    position: absolute;
    right: 0;
    bottom: 2px;
}
.msg_history div.incoming_msg .inn-message {
    background: #f2f6f9;
    border-radius: 0 10px 10px 10px;
    padding: 5px 8px;
    max-width: 70%;
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}
.incoming_msg .ur-name {
    padding-bottom: 5px;
    font-size: 12px;
    position: relative;
    padding-left: 25px;
    border-bottom: 1px solid #e7eff7;
}
.received_withd_msg {
    padding: 5px 0 0;
}
.sent_msg span.time_date {
    margin-right: -15px;
    padding-right: 15px;
    position: relative;
}
.msg_history div.incoming_msg {
    margin: 10px 0 0;
    text-align: left;
}
.incoming_msg .ur-name span.ur-img {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 8px;
    position: absolute;
    left: -15px;
    top: -12px;
    border: 3px solid #fff;
}
.incoming_msg .ur-name span.ur-img img {
    height: 100%;
    width: 100%;
    display: inline-block;
    background: #e5e4e8;
    object-fit: cover;
}
.right_chat_page .mesgs .type_msg {
    padding: 5px;
    height: 55px;
    position: relative;
}
.type_msg form#send_message_form {
    position: relative;
}
div#image_preview:empty {
    display: none;
}
div#image_preview {
    position: absolute;
    background: #fff;
    left: 0;
    bottom: 100%;
    padding: 8px 12px;
    border: none;
    border-radius: 20px 20px 0 0;
    width: 100%;
    max-height: 100px;
    box-shadow: 0 -4px 6px 0 rgba(0,0,0,.05);
}
.type_msg form#send_message_form span#message-error {
    display: none !important;
}
.type_msg form#send_message_form .write_msg.message_input {
    width: calc(100% - 100px);
    padding: 13px 25px 13px 45px;
    border-radius: 80px;
    border: none;
    font-size: 14px;
    background: #fff;
    font-weight: 500;
    outline: none;
    height: 45px;
    box-shadow: 0 4px 24px 0 rgba(5,27,44,.1);
    cursor: inherit !important;
}
.type_msg form#send_message_form .emoji-menu {
    position: absolute;
    left: -5px;
    bottom: calc(100% + 5px);
    border: none;
    border-radius: 20px 20px 0 0;
    width: calc(100% + 10px) !important;
    height: 150px !important;
    box-shadow: 0 -4px 6px 0 rgba(0,0,0,.05);
}
.type_msg form#send_message_form i.emoji-picker-icon.emoji-picker {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    color: #9aa7af;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    transition: all .2s ease-in;
    justify-content: center;
    border-radius: 50%;
}
.type_msg form#send_message_form i.emoji-picker-icon.emoji-picker:hover {
    color: #1f1a17;
}
.type_msg .input-group-append {
    margin-left: 5px;
}
.type_msg form#send_message_form .input-group-append span.input-group-text.send_btn,
.type_msg .input-group-append span.input-group-text.attach_btn {
    background: #e7eff7;
    border: none;
    height: 45px;
    box-shadow: 0 4px 24px 0 rgba(5,27,44,.1);
    font-size: 15px;
    transition: all .2s ease-in;
    width: 45px;
    color: #9aa7af;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    outline: none;
    align-items: center;
    justify-content: center;
}
.type_msg .input-group-append span.input-group-text.attach_btn input#images {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    top: 0;
    left: 0;
}
.type_msg .input-group-append span.input-group-text.attach_btn {
    position: relative;
}
.chat_dtls a {
    display: inline-block;
}
.chat-page-main-mesgs .front-user-info .chat_people .chat_dtls h5 {
    color: #377c88;
    font-size: 20px;
}
.chat-page-main-mesgs .front-user-info .chat_people .chat_img a#group_edit {
    display: none !important;
}
.right_chat_page .mesgs span#current_date_message:empty {
    display: none !important;
}
.modal {
    background: rgba(0,0,0,0.5);
}
.modal-header {
    background: linear-gradient(to right,#9dd9e0,#b1f7ff);
}
.modal-content button.close {
    outline: none;
    text-shadow: none;
    opacity: 1;
    font-weight: normal;
}
.modal-header h4.modal-title {
    color: #1f1a17;
    font-size: 20px;
    margin: 0;
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid rgba(1,159,182,.5) !important;
    height: 49px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    padding: 10px;
}
.select2-dropdown {
    border: 1px solid rgba(1,159,182,.5) !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background:rgba(1,159,182,.4) !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background:rgba(1,159,182,.5) !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin: 0 5px 0 0 !important;
    background: linear-gradient(to right,#9dd9e0,#b1f7ff) !important;
    border: 1px solid rgba(1,159,182,.3) !important;
    color: #1f1a17 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #1f1a17 !important;
    margin-right: 5px !important;
}
.modal-footer button.btn {
    background: linear-gradient(#377c88,#3bb3c2);
    color: #fff;
    border-radius: 50px;
    padding: 5px 30px;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 13px;
}
div.modal-content {
    border: 1px solid rgba(1,159,182,.3);
}
div.modal-footer {
    padding: 0.5rem 1rem;
}
.modal-body .chat_people {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.modal-body .chat_img {
    width: 60px;
}
.modal-body .chat_people .chat_ib h5 {
    color: #333;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
}
.modal-body .chat_people .chat_ib h5 span {
    float: right;
}
.modal-body div.chat_list {
    padding: 5px 10px;
    border-bottom: 1px solid #e7eff7;
}
.modal-body div.chat_list:last-child {
    border: none;
}
div.emoji-menu .emoji-items-wrap {
    height: 120px;
}
div.emoji-menu .emoji-items {
    display: inline-block;
    height: max-content;
    width: 100%;
}
